<script>
    
    var newTimer = new Date(null);
    let timeString = newTimer;
    let timeEntries = [];
    let latestEntry;
    let idNumber = 0;
    let intervalID;
    

    // 0 = new timer      1 = timer is running        2 = timer is paused
    const State = {
        NEW: 0,
        RUNNING: 1,
        PAUSED: 2,
    };

    let timerState = State.NEW;

    const updateTimer = () => {
        console.log('UPDATE');
        let currentTime = new Date().getTime();
        let displayTime = new Date(currentTime - latestEntry.startTime.getTime());
        timeString = displayTime;
    }


    const onStart = () => {

        if (timerState == State.NEW){

            timeEntries.push({
                startTime: new Date(),
                stopTime: undefined,
                duration: undefined,
                id: idNumber,
                description: undefined,
            });

            latestEntry = timeEntries[timeEntries.length -1];

            timerState = State.RUNNING;
            intervalID = setInterval(updateTimer, 1000);

        } 
        if (timerState == State.PAUSED){
            // latestEntry.stopTime = undefined;
            // setInterval(updateTimer,1000);
            // timerState = 1;
        }
    }
    const onStop = () => {
        if(timerState == State.RUNNING){
            clearInterval(intervalID);
            latestEntry.stopTime = new Date();
            latestEntry.duration = (latestEntry.stopTime.getTime()) - (latestEntry.startTime.getTime());
            //timeString = new Date(latestEntry.duration);
            timerState = State.NEW;
        }

    }

    const onSave = () => {
        if(timerState == State.PAUSED || timerState == State.NEW){
            idNumber++;
            console.log(timeEntries);
            timerState = State.NEW;
            timeString = newTimer;
        }
    }



    

</script>

<h1>{timeString.toISOString().substr(11, 8)}</h1>
<button id="start" on:click={onStart}>Start</button>

<button id="stop" on:click={onStop}>Stop</button>

<button id="save" on:click={onSave}>Save</button>